export(.isValidNamedList)
export("[")
export("[[")
export(computeEtFromCt)
export(expavg)
export(filter)
export(FluidigmAssay)
export(getConcordance)
export(getrc)
export(getss)
export(getwss)
export(lapply)
export(logmean)
export(lrt)
export(ncol)
export(nrow)
export(panel.shifts)
export(read.fluidigm)
export(SCASet)
export(SingleCellAssay)
export(SingleCellAssayValidity)
exportClasses(FluidigmAssay)
exportClasses(SCASet)
exportClasses(SingleCellAssay)
exportMethods("exprs<-")
exportMethods(addMapping)
exportMethods(cData)
exportMethods(cellData)
exportMethods(combine)
exportMethods(copy)
exportMethods(exprs)
exportMethods(fData)
exportMethods(featureData)
exportMethods(getMapNames)
exportMethods(getMapping)
exportMethods(getwellKey)
exportMethods(isEmpty)
exportMethods(length)
exportMethods(LRT)
exportMethods(mappingIntersection)
exportMethods(melt)
exportMethods(sampleNames)
exportMethods(show)
exportMethods(split)
exportMethods(subset)
import(Biobase)
import(BiocGenerics)
import(lattice)
import(reshape)
importFrom(digest,digest)
importFrom(gdata,xls2csv)
importFrom(latticeExtra,panel.smoother)
importFrom(plyr,rbind.fill)
importMethodsFrom(Biobase,"exprs<-")
importMethodsFrom(Biobase,"pData<-")
importMethodsFrom(Biobase,"sampleNames<-")
importMethodsFrom(Biobase,exprs)
importMethodsFrom(Biobase,fData)
importMethodsFrom(Biobase,featureData)
importMethodsFrom(Biobase,pData)
importMethodsFrom(Biobase,sampleNames)
importMethodsFrom(BiocGenerics,combine)
importMethodsFrom(BiocGenerics,lapply)
