S3method(melt,SingleCellAssay)
export("[")
export("[[")
export(FluidigmAssay)
export(NanoStringAssay)
export(SCASet)
export(SingleCellAssay)
export(burdenOfFiltering)
export(computeEtFromCt)
export(condSd)
export(condmean)
export(expavg)
export(filter)
export(freq)
export(getConcordance)
export(getMapping)
export(getrc)
export(getss)
export(getwss)
export(lapply)
export(logmean)
export(mergeWithKeyFile)
export(numexp)
export(plotSCAConcordance)
export(plotlrt)
export(primerAverage)
export(read.fluidigm)
export(readNanoStringLanes)
export(todt)
export(zlm.SingleCellAssay)
exportClasses(SCASet)
exportMethods("[")
exportMethods("exprs<-")
exportMethods('[[')
exportMethods('layer<-')
exportMethods('layername<-')
exportMethods(LRT)
exportMethods(addlayer)
exportMethods(cData)
exportMethods(cellData)
exportMethods(combine)
exportMethods(conform)
exportMethods(copy)
exportMethods(exprs)
exportMethods(fData)
exportMethods(featureData)
exportMethods(getwellKey)
exportMethods(layer)
exportMethods(layername)
exportMethods(length)
exportMethods(melt)
exportMethods(nlayer)
exportMethods(sampleNames)
exportMethods(show)
exportMethods(split)
exportMethods(subset)
exportMethods(thresholdNanoString)
import(Biobase)
import(BiocGenerics)
importFrom(abind,abind)
importFrom(car,lht)
importFrom(car,linearHypothesis)
importFrom(gdata,xls2csv)
importFrom(ggplot2,aes)
importFrom(ggplot2,geom_point)
importFrom(ggplot2,geom_segment)
importFrom(ggplot2,ggplot)
importFrom(ggplot2,scale_x_continuous)
importFrom(ggplot2,scale_y_continuous)
importFrom(ggplot2,theme_bw)
importFrom(latticeExtra,panel.smoother)
importFrom(plyr,ddply)
importFrom(plyr,is.formula)
importFrom(plyr,rbind.fill)
importFrom(reshape,cast)
importFrom(reshape,expand.grid.df)
importFrom(reshape,melt)
importFrom(reshape,melt.data.frame)
importFrom(reshape,rename)
importFrom(stringr,str_trim)
importMethodsFrom(Biobase,"exprs<-")
importMethodsFrom(Biobase,"pData<-")
importMethodsFrom(Biobase,"sampleNames<-")
importMethodsFrom(Biobase,exprs)
importMethodsFrom(Biobase,fData)
importMethodsFrom(Biobase,featureData)
importMethodsFrom(Biobase,pData)
importMethodsFrom(Biobase,sampleNames)
importMethodsFrom(BiocGenerics,combine)
importMethodsFrom(BiocGenerics,lapply)
